.container {
  align-items: center;
  background-color: #e6e6e6;
  border: solid 1px lightgrey;
  cursor: pointer;
  display: flex;
  height: 150px;
  justify-content: center;
  margin: 8px;
  width: 150px;

  &:hover {
    background-color: #d3d3d3;
  }
}
